<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Differentiation of staff and customers</title>
</head>
<body>
<h1>Hotel management</h1>
<p><a href="/hotel_management/clients_and_contracts">Clients and contracts</a></p>
<p><a href="/hotel_management/room_reservations">Room reservations</a></p>
<p><a href="/hotel_management/cleaning_and_technical_inspection_log">Cleaning and technical inspection log</a></p>
<p><a href="/hotel_management/personnel">Personnel</a></p>
<p><a href="/all_services">Services</a></p>
</body>
</html>