<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room reservations</title>
</head>
<body>
<h1>Room reservations</h1>
<p><a href="/hotel_management/room_reservations/booking_list">Reservations</a></p>
<p><a href="/hotel_management/room_reservations/create_reservations">Reservation</a></p>
<p><a href="/hotel_management/room_reservations/accounts_list">Accounts</a></p>
<p><a href="/hotel_management/room_reservations/create_accounts">Create Accounts </a></p>
<p><a href="/hotel_management">Hotel management</a></p>
</body>
</html>